* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-instalogo {
    font-size: 120px;
}

.img-logo {
    margin-bottom: 20px;
}

.conteiner-imagens {
    position: relative;

}

.img-celular {
    width: 450px;
}

.imagem-celular {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: opacity 2s ease-in-out;
}

.conteiner-itens {
    width: 350px;
}

.conteiner-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    background: #ffff;
    padding: 50px 40px 40px 20px;
}

input {
    height: 36px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px;
    color: #262626;
}

button {
    background: #0095f6;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #ffff;
    margin-top: 20px;
    cursor: pointer;
}

.login-facebook {
    color: #385185;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
}

.esqueceu-senha {
    color-scheme: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.conteiner-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paragrafo-conta {
    font-size: 14px;
}

.link-cadastro {
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.paragrafo-app {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    gap: 10px;
}

.conteiner-app {
    display: flex;
    justify-content: center;
}

.logo-app {
    width: 150px;
}